// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.reset-btns {
    div {
        margin: 0 auto;
    }
    .btn {
        width: 100%;
    }
}

.active-track {
    .mark-track-active {

        b {
            display: block;
            width: 48px;
        }
    }
    .switch-btn {
        display: none;
    }
    .resume-btn {
        display: inherit;
    }
}

.inactive-track {
    .mark-track-active {
        display: none;
    }
    .switch-btn {
        display: inherit;
    }
    .resume-btn {
        display: none;
    }
}

/*
    ANIMATIONS
 */

.tilt-animation {
    animation: tilt 0.5s;
    animation-delay: 0.5s;
}

@keyframes tilt {
    0% { transform: rotate(0deg); }
    33% { transform: rotate(15deg); }
    66% { transform: rotate(-15deg); }
    100% { transform: rotate(0deg); }
}
