// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@mixin make-visible-transition {
    visibility: inherit;
    opacity: 100;
    transition: visibility 1s, opacity 0.25s linear;
}

@mixin make-invisible-transition {
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, opacity 0.25s linear;
}

.active-track {
    .mark-track-active {
        @include make-visible-transition;

        b {
            display: block;
            width: 48px;
        }
    }
    .switch-btn {
        @include make-invisible-transition;
    }
}

.inactive-track {
    .mark-track-active {
        @include make-invisible-transition;
    }
    .switch-btn {
        @include make-visible-transition;
    }
}

/*
    ANIMATIONS
 */

.tilt-animation {
    animation: tilt 0.5s;
    animation-delay: 0.75s;
}

@keyframes tilt {
    0% { transform: rotate(0deg); }
    33% { transform: rotate(15deg); }
    66% { transform: rotate(-15deg); }
    100% { transform: rotate(0deg); }
}
