// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@mixin make-visible-transition {
    visibility: inherit;
    opacity: 100;
    transition: visibility 1s, opacity 0.5s linear;
}

@mixin make-invisible-transition {
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, opacity 0.5s linear;
}

.active-track {
    .mark-track-active {
        @include make-visible-transition;
    }
    .switch-btn {
        @include make-invisible-transition;
    }
}

.inactive-track {
    .mark-track-active {
        @include make-invisible-transition;
    }
    .switch-btn {
        @include make-visible-transition;
    }
}
